body {
  max-width: 1080px;
  margin: 0 auto;
  background: #000000;
}
img:last-child {
  position: relative;
  opacity: 0;
}

body.lintel_24 div#images {
  height: 1359px;
  width: 1080px;
}
body.lintel_24 img:last-child {
  top: -1359px;
}
