body {
  max-width: 1080px;
  margin: 0 auto;
  background: #000000;
  overflow: hidden;
}

#slider {
  position: absolute;
  top: -9999px;
}

div#images {
  height: 1920px;
  width: 1080px;
}
img:last-child {
  position: relative;
  top: -1920px;
  opacity: 0;
}
